/SpaceTransfer/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/.idea/.idea.SpaceTransfer/.idea/encodings.xml
/.idea/.idea.SpaceTransfer/.idea/indexLayout.xml
/SpaceTransfer/obj/project.assets.json
/SpaceTransfer/obj/project.nuget.cache
/SpaceTransfer/obj/project.packagespec.json
/SpaceTransfer/obj/rider.project.restore.info
/SpaceTransfer/obj/Debug/netcoreapp3.1/SpaceTransfer.AssemblyInfo.cs
/SpaceTransfer/obj/Debug/netcoreapp3.1/SpaceTransfer.AssemblyInfoInputs.cache
/SpaceTransfer/obj/Debug/netcoreapp3.1/SpaceTransfer.assets.cache
/SpaceTransfer/obj/SpaceTransfer.csproj.nuget.dgspec.json
/SpaceTransfer/obj/SpaceTransfer.csproj.nuget.g.props
/SpaceTransfer/obj/SpaceTransfer.csproj.nuget.g.targets
/SpaceTransfer/obj/Debug/netcoreapp3.1/SpaceTransfer.csprojAssemblyReference.cache
